<h1>URL Details</h1>

<p><strong>Short Code:</strong> <%= @url.short_code %></p>
<p><strong>Original URL:</strong> <a href="<%= @url.original_url %>" target="_blank"><%= @url.original_url %></a></p>
<p><strong>Number of Visits:</strong> <%= @url.analytics.count %></p>
